
@{
    Layout = null;
    //HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}
@model Mvc_Kutuphane.Models.tbl_kullanici
@*@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "gelenSonuc", InsertionMode = InsertionMode.Replace }))
{*@
    @using (Html.BeginForm())
    {

    @Html.ValidationSummary()
    <div class="form-group">

        @Html.TextBoxFor(m => m.kadi, new { @class = "form-control input-lg", @placeholder = "Kullanıcı Adı" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.eposta, new { @class = "form-control input-lg", @placeholder = "Email" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.sifre, new { @class = "form-control input-lg", @placeholder = "Şifre" })
    </div>
    <div class="form-group">
        @*<div class="checkbox">
            <label class="string optional" for="terms">
                <input type="checkbox" id="terms" style="">
                <a href="#">Kullanım koşullarını okudum.Kabul ediyorum.</a>
            </label>
                </div>*@
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-custom">Kaydet</button>
    </div>
}
<div id="gelenSonuc">

</div>